node_modules/
dist/
.venv/
khetsmart.db
backend/khetsmart.db
__pycache__/
*.pyc
.env
.DS_Store
*.log
frontend/tsconfig.tsbuildinfo

# Android compilation ignores
android-build-tools/

frontend/android/.idea/
frontend/android/build/
frontend/android/app/build/
backend/.venv/
backend/__pycache__/
frontend/node_modules/
backend/data/backups/
backend/data/backups/
